body {
    font-family: 'Ubuntu', sans-serif;
    color: #4ebefe;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin: 0;
    color: black;
}

p {
    line-height: 1.65em;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    background: rgba(78,189,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
    padding-top: 62px;
    padding-bottom: 100px;
    color: #fff;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer {
    width: 575px;
}

.title {
    font-size: 37px;
    line-height: 1.4em;
    color: #fff;
}

.title span {
    font-size: 59px;
    line-height: 1.3em;
}

.intro {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 37px;
    margin-top: 30px;
    width: 375px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background: #ffd429;
    color: black;
    display: block;
    width: 222px;
    padding: 19px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.desktop {
    margin-top: 60px;
}

.btn:hover {
    background: #e6bd17;
    color: black;
}

.learn {
    padding-top: 108px;
    padding-bottom: 120px;
}

.section-title {
    font-size: 30px;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.skill.title {
    font-size: 19px;

}

.skill-text {
    margin-top: 7px;
    color:black;
}

.skill {
    width: 289px;
    padding-top: 85px;
    text-align: center;
}

.skill1 {
    width: 310px;
    padding-top: 85px;
    text-align: center;
    background: url('../img/icon1.png') no-repeat center top;
}

.skill2 {
    width: 310px;
    padding-top: 85px;
    text-align: center;
    background: url('../img/icon2.png') no-repeat center top;
}

.skill3 {
    width: 310px;
    padding-top: 85px;
    text-align: center;
    background: url('../img/icon3.png') no-repeat center top;
}

.mail {
    background: #ecf3f8;
    padding-top: 105px;
    padding-bottom: 105px;
}

.input {
    width: 343px;
    border: 1px solid #bbbbbb;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    height: 54px;
    padding-left: 34px;
    margin-bottom: 14px;
}

.form {
    width: 343px;
    display: block;
    margin: 0 auto;
    margin-top: 59px;
}

.btn-form {
    border: 0;
    cursor: pointer;
    width: 343px;
}

.credits {
    color: #fff;
    font-size: 14px;
}

.footer {
    background: #164d7a;
    padding: 62px 0;
    text-align: center
}

/* Responsive */

@media screen and (max-width: 1200px) {
    .container {
       width: 1000px;
     }
    .intro {
        font-size: 22px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 760px;
     }
     .wrapper {
        flex-direction: column;
     }
     .offer {
        width: 100%;
     }
     .intro {
        width: 100%;
     }
     .skills {
        flex-direction: column;
        align-items: center;
     }
     .skill {
        width: auto;
        margin-bottom: 50px;
     }
}

@media screen and (max-width: 768px) {
    .container {
        width: 580px;
     }
     .desktop {
        width: 100%;
     }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
     }
    .section-title {
        width: 80%;
        margin: 0 auto;
    }
}